<!-- index.hbs -->

<h1>Welcome to Tran-Byun PC Suppliers!</h1>
<h3>The best (and only) PC suppliers left in the apocalyptic USA!</h3>

<p>Tran-Byun PC Suppliers is now the best and ONLY computer supplier for the entire US!<p>
<p>For the benefit of our thousands of customers we've commissioned this easy to use web app to helps us and YOU, our valued clients, manage the increased volume of orders!</p>
<p>We offer laptops and desktops for any needs! Whether you're conquering the lands of Azeroth, mindlessly browsing Facebook at home, or tending to your cubicle monkey duties at work, we have what you need!</p>

<img src=/img/homeImage.png alt="Retro Computer Store" width="460" height="345">
