body {
  background-color: beige;
}

/*
Navigation Bar
*/

.navBar {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  border-style: solid;
  border-width: thin;

  margin: 10px;
  padding-top: 7px;
  padding-bottom: 7px
}


.navButton {
  text-align: center;
  margin: 20px;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color:  #FFFBE1;
}

thead tr {
  background-color: blue;
  color: #ffffff;
}

th, td{
  padding: 12px;
}

