body {
  /* background-color: beige; */
  background-image:url("https://cdn.wallpapersafari.com/78/91/DhSoWz.jpg");
  background-repeat: repeat;
}

/*
Navigation Bar
*/

.navBar {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  border-width: thin;
}

.navButton {
  text-align: center;
  margin: .1em .8em;
  text-decoration: none;
}

.navBar li {
  display: flex;
  list-style: none;
  border-width: thin;
  padding-top: thin;
}

.navBar li a {
  text-decoration: none;
  background-color: blue;
  padding: .5em 1em;
  color: red;
  font-weight: bold;
  border-radius: .5em;
}

/* Reverse the colors when hovering to give the user some interaction feedback.*/
.navButton:hover {
  background-color: yellow;
  color: black;
  transition: 0.6s;
}


table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color:  #FFFBE1;
}

thead tr {
  background-color: blue;
  color: #ffffff;
}

th, td{
  padding: 12px;
}
